{% extends "templates/partials/base.j2" %}
{% block title %}{{ project_data.project_title }}{% endblock title %}
{% block page_description %}
<meta name="description" content="whatever">
{% endblock page_description %}

{% block content %}
<div class="container col-xxl-8 pt-3">
      <div class="row flex-lg-row align-items-center g-5 py-5">
         <div class="col-lg-6">
            <h1 class="lh-base"><span class="display-6">PFP</span><br><span class="display-4">Schema</span><br></h1>
            <p class="lead">The PFP - Prosopographic Research Platform Austria serves as an umbrella project for personal research at the Austrian Academy of Sciences (ÖAW) using methods of the Digital Humanities. On this page we publish relevant materials with regard to the overarching data model.
               </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start"><a href="https://www.oeaw.ac.at/acdh/research/dh-research-infrastructure/activities/modelling-humanities-data/pfp-prosopographical-research-platform-austria" type="button" class="btn btn-primary btn-lg px-4 me-md-2">About PFP</a><a href="shacl/shacl.ttl" type="button" class="btn btn-outline-primary btn-lg px-4">SHACL</a></div>
         </div>
         <div class="col-10 col-sm-8 col-lg-6">
            <figure class="figure"><img src="img/title-image.png" class="d-block mx-lg-auto img-fluid" alt="some random title image" loading="lazy"><figcaption class="pt-3 figure-caption">DALL·E 3 | OpenAI </figcaption>
            </figure>
         </div>
    </div>
{% endblock content %}